*,
*::after,
*::before {
    box-sizing: border-box;
    font-family: Google Sans,arial,sans-serif;
}

:root {
    --bg-clr: #fff;
    --light-gray: #f2f2f2;
    --dark-gray: #606469;
    --media-gray: #9AA0A6;
}

input {
    /* content: url("./assets/search_black_24dp.svg");
    background-image: url("./assets/search_black_24dp.svg");
    background-repeat: no-repeat;
    background-size: 16px 16px; */
   
    position: relative;
}



body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

.main {
    width: 70vw;
    border: 1px solid red;
    margin: 10em auto;
    text-align: center;
    position: relative;
    /* display: flex; */
}

input {
    width: 70%;
    padding: 1em;
    border-radius: 30px;
    display: block;
    margin: 0 auto;
}


input:hover {
    box-shadow: 20px 10px 10px var(--light-gray);
}

.form-outer {
    max-width: 300px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    width: 90%;
    max-width: 1160px;
    margin: auto;
}

.form-input {
    margin: 10px auto;
    position: relative;
    /* display: flex; 
    align-items: center;
justify-content: center; */
}

input {
    border: 2px solid #eee;
    padding: 5px 10px 5px 50px;
    font-size: 18px;
    line-height: 30px;
    outline: 0;
    /* display: block; */
    width: 90%;
}

.icon-search {
    position: absolute;
    left: 15px;
    top: 0;
    font-size: 25px;
    color: var(--medium-gray);
    height: 100%;
    display: flex;
    z-index: 2;
    align-items: center;
    justify-content: center;
}

/* TODO Insert Mic */
/* TODO Understand this placement in input */




a {
    text-decoration: none;
    color: var(--dark-gray);
    padding-left: 1em;
}

a:hover {
    text-decoration: underline;
}

footer {
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 0;
    width: 100%;
    margin: 0 auto;
    background-color: var(--light-gray);
    /* height: 2em; */
    border: 1px solid red;
    padding: 1em;
}



button {
    margin: 2em 1em;
    padding: 0.5em 1em;
}


button:hover {
    border: 1px solid black;
    cursor: pointer;
}

