
  * {
      box-sizing: border-box;
  }

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;600&display=swap');

:root {
    --bg-violet: hsl(257, 40%, 49%);
    --soft-magenta: hsl(300, 69%, 71%);
    --heading: 'Poppins',
    sans-serif;
    --body-copy: 'Open Sans',
    sans-serif;
}

/* A bootstrap class hiding elements, which are build exclusevily for screenreaders */
  .sr-only {
      position: absolute;
      left: -10000px;
      width: 1px;
      height: 1px;
      top: auto;
      overflow: hidden;
  }

  body {
      background: var(--bg-violet) url("./images/bg-mobile.svg") no-repeat top;
      background-size: 100%;
      font-family: var(--heading);
      min-width: 100%;
      min-height: 100%;
      padding: 2em;
  }

  header {
      padding-bottom: 5em;
  }
  header img {
      float: left;
      /* As soon as 35vw is greater than 150px, 35vw kicks in. But when 30em becomes greater that 35vw, 30em kicks in */
      width: clamp(150px, 35vw, 30em);
  }

img{
      display: block; 
      margin: 0 auto;
      width: 80%;
  }

  section:first-of-type {
      max-width: 1100px;
      padding-top: 10%;

  }

  section:nth-of-type(2) {
      align-items: center;
      display: flex;
      flex-direction: column;
      height: 40vh;
      justify-content: space-between;
      margin-top: 3em;
      max-width: 750px;
  }

  h1 {
      font-size: 2rem;
      font-weight: 600;
  }
  p {
      font-size: clamp(1.125rem, 2vw, 1.5rem);
      line-height: 1.3em;
      margin-bottom: 3em;
     
  }
 
  h1, p {
    color: #fff;
    text-align: center;
    width: 90%;
  }

  button {
      background-color: 2f2f2f;
      border-radius: 90px;
      cursor: pointer;
      display: block;
      font-family: inherit;
      margin-bottom: 2em;
      padding: 20px;
      width: 200px;
  }

  button:hover,
  .social-media-container>div:hover {
      background: var(--soft-magenta)
    }

.social-media-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2em;
    width: 150px;
}

.social-media-container > div {
    border: 1px solid #fff;
    border-radius: 50%;
    display: flex;
}

  ion-icon {
      color: white;
      cursor: pointer;
      font-size: 1rem;
  }

  ion-icon, ion-icon + ion-icon {
      margin: 0.5em;
  }

  footer {
      bottom: -80px;
      margin: 0 auto;
      position: fixed;
      text-align: center;
      width: 500px;
  }
  @media(min-width:868px) {
      body {
          background: var(--bg-violet) url("./images/bg-desktop.svg") no-repeat right fixed;
          background-size: 160%;
          display: flex;
          flex-wrap: wrap;
          min-height: 100vh;
      }
     
      header {
          height: 10%;
          padding: 0;
          width: 100%;
      }

      section:first-of-type {
          margin: 0;
          padding: 0;
          width: 62%;
      }

      img {
          width: 100%;
      }
      section:last-of-type {
        align-items: flex-start;
        margin-left: 2em;
        width: 32%;
      }

      h1, p {
          text-align: left;
      }

      p {
          margin-bottom: 1em;
      }

      button {
          margin-top: 0;
          
      }

    .social-media-container {
       align-self: flex-end;
       width: 190px;
    }
    
  }

  .attribution {
      font-size: 11px;
      text-align: center;
  }

  .attribution a {
      color: hsl(228, 45%, 44%);
  }